.solve-receive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.solve-receive-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.solve-receive-form input,
.solve-receive-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

.solve-receive-form input:focus,
.solve-receive-form textarea:focus {
  outline: none;
  border-color: #6200ea;
  box-shadow: 0 0 10px rgba(98, 0, 234, 0.5);
}

.decrypted-result {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.original-text-box {
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
  word-wrap: break-word;
}

.original-text-box p {
  background-color: #333333;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #3700b3;
}
